@tailwind base;
@tailwind components;

@responsive {
  @variants hover, focus {

.avatar-30 {
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-40 {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-50 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-60 {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-70 {
  width: 70px;
  height: 70px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-80 {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-90 {
  width: 90px;
  height: 90px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-100 {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-110 {
  width: 110px;
  height: 110px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-120 {
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.avatar-220 {
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.theme-color {
  color: #03c;
}


}
}
@tailwind utilities;


